body {
    margin: 0;
    font-family: Arial;
    background-color: #0f172a;
    color: #e2e8f0;
}

header {
    text-align: center;
    padding: 30px;
    background: #1e293b;
}

section {
    background: #1e293b;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

section:hover {
    transform: scale(1.02);
}

h1, h2 {
    color: #38bdf8;
}

ul {
    line-height: 1.8;
}

img {
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #020617;
    margin-top: 20px;
}