body {
    font-family: Arial;
    margin: 0;
    background-color: #0f172a;
    color: white;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 60px;
}

/* Sections */
section {
    padding: 40px;
}

/* Headings */
h1 {
    font-size: 36px;
}

h2 {
    color: #38bdf8;
}

/* Projects Layout */
.projects {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Cards */
.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    transition: 0.3s;
}

/* Hover Effect */
.card:hover {
    transform: scale(1.05);
}

/* Responsive */
@media (max-width: 600px) {
    .projects {
        flex-direction: column;
        align-items: center;
    }
}
